@media (max-width: 380px) {
    .header-content_title {
        font-size: 4rem;
    }
    .destination_title {
        font-size: 4rem;
    }
    .newslatter__title {
        max-width: 16rem;
    }
    .footer {
        text-align: center;
    }
    .footer-right {
        justify-content: center;
    }

    .footer-list {
        width: 100%;
        margin-left: 0;
    }
    .destination::before,
    .destination::after {
        display: none;
    }
}

@media (min-width: 400px) {

}
@media (min-width: 576px) {

}


@media (min-width: 768px) {
    .nav__btn, .nav--menu {
        display: none;
    }
    .menu {
        display: flex;
    }
    .newslatter {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }
    .newslatter__title {
        max-width: 100%;
    }
    .newslatter__content {
        flex-basis: 55%;
        padding-right: 3rem;
    }
    .newslatter__banner {
        flex-basis: 45%;
    }
    .footer-left {
        max-width: 45rem;
    }
    .newslatter::before {
        top: -5rem;
        left: -40rem;
        width: auto;
        height: auto;
        background-size: auto;
        background-position: center left;
    }
    .destination::before,
    .destination::after {
        display: none;
    }
}


@media (min-width: 992px) {
    .header__links {
        display: block;
    }
    .header-content__caption {
        max-width: 50rem;
    }
    .newslatter__content {
        padding-right: 4rem;
    }
    .newslatter__title {
        margin-bottom: 0;
    }
    .newslatter__coption {
        margin-bottom: 4.5rem;
    }
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .footer-list {
        width: 20rem;
        margin-bottom: 1rem;
    }
    .footer-left {
        max-width: 40rem;
    }
    .footer__scroll {
        left: auto;
    }
    .newslatter::before {
        top: -10rem;
        left: -30rem;
    }
}

@media (min-width: 1200px) {
    .header {
        min-height: 80rem;
    }
    .newslatter {
        justify-content: space-between;
    }
    .newslatter__content {
        flex-basis: auto;
        width: 60rem;
    }
    .newslatter__banner {
        flex-basis: auto;
        width: 42rem;
    }
    .footer-left {
        max-width: 50rem;
    }
    .newslatter::before {
        top: -15rem;
        left: -15rem;
    }
    .destination::after {
        top: 80rem;
    }
    .destination::before,
    .destination::after {
        display: block;
    }
}

@media (min-width: 1400px) {
    .newslatter {
        padding: 3rem 6rem;
    }
}
